*,
*::before,
*::after {margin: 0;
    padding: 0;
    box-sizing: inherit;
}  

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif; */
    width: 190.3rem;
    height: 320.4rem;
    
}

header{
    background: url(../img/bg.jpg) 50% 50%;
    background-size: cover;
    height: 950px;
    text-align: center;
    color: white;
}

h1 {
    font-family: "Ephesis", cursive;
    font-size: 75px;
    font-weight: 400;
}

#nav p {
    font-family: "Ephesis", cursive;
    display: inline-block;
    font-size: 25px;
    /* font-weight: bold; */
}

header > p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(128, 128, 128, 0.164);
    height: 70px;
    
}

#nav{
    /* background-color: rgba(128, 128, 128, 0.164); */
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#ulnav{
    display: flex;
    flex-direction: row;
    /* width: 200px; */
    width: 40rem;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    cursor: pointer;

    
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    transition: 0.5s ease-in-out;
    padding: 15px;
    border-radius: 30px;
}

li:hover{
    /* padding: 15px; */
    /* border: 3px solid white; */
    background-color: #7BAFC9;
    transition: 0.5s ease-in-out;
}

#licontact {
    padding: 15px;
    border: 3px solid white;
    border-radius: 30px;
}

/* ******* what are you ******* */

#whatareyou_bg {
    background-color: #C1D2D9;
}

#whatareyou h2{
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

#whatareyou {
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: #7BAFC9;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

/* LISTE PRODUITS */

#liste_pdt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

#liste_pdt pre {
    padding: 10px;
    padding-bottom: 30px;
    font-size: 1.2rem;
    color: rgba(128, 128, 128, 0.591);
}

#liste_pdt h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 1.5rem;
}

#liste_pdt div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.29);
    width: 394px;
    height: 510px;
    position: relative;
    margin: 25px;
}

#liste_pdt img {
    width: 392px;
    height: 392px;
}

#liste_pdt span {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    padding: 15px 10px;
    font-size: 1.5rem;
}

#liste_pdt button {
    background-color: white;
    color: #7BAFC9;
    border: 1px solid #7BAFC9;
    border-radius: 30px;
    padding: 15px 20px;
    margin-bottom: 30px;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}

#liste_pdt button:hover {
    background-color: #7BAFC9;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

footer {
    font-size: 1.5rem;
    color: white;
    background-color: #7BAFC9;
    height: 422px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#footer {
    width: 67%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 40px;
}

#footer a, p {
    padding: 15px;
}


#footer p{
    padding-bottom: 35px;
    padding-top: 40px;
}

footer a:hover {
    cursor: pointer;
    color: orange;
}

#about, #appartements, #newYork, #araEtIcons {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

#icons {
    display: flex;
    justify-content: flex-start;
    color: white;
}

footer hr {
    width: 1302px;
    margin: 0 auto;
    color: white;
    margin-bottom: 30px;
}

#copy {
    color: white;
    text-align: center;
}




/* MEDIA QUERIES */



@media screen and (min-width:253px) and (max-width:886px){

    *,
*::before,
*::after {margin: 0;
    padding: 0;
    box-sizing: inherit;
}  

html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif; */
    width: 1000px;
    height: 320.4rem;
    
}
    
header{
        background: url(../img/bg-tb.jpg);
        background-size: cover;
        /* height: 100%; */
        
        /* height: 80%; */
        background-position: center;
        background-repeat: no-repeat;
        /* width: 1903px; */
        /* width: 280vh; */
        /* background-attachment: fixed; */
        text-align: center;
        color: white;
    }
    /* h1 {
        display: flex;
        justify-content: flex-start;
    } */

    h1 {
        padding-top: 100px;
        font-family: "Ephesis", cursive;
        font-size: 90px;
        font-weight: 400;
        background-color: rgba(128, 128, 128, 0.311);
    
    }
    
    #nav p {
        font-family: "Ephesis", cursive;
        display: inline-block;
        font-size: 30px;
        /* font-weight: bold; */
    }
    
    header > p {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(128, 128, 128, 0.311);
        padding-bottom: 50px;
    
    }
    
    nav {
        display: flex;
        
        justify-content: space-between;
        background-color: rgba(128, 128, 128, 0.311);
        height: 70px;
        
    }
    
    #nav{
        /* background-color: rgba(128, 128, 128, 0.164); */
        width: 60%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    
    }
    
    #ulnav{
        display: flex;
        flex-direction: row;
        /* width: 200px; */
        width: 40rem;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        cursor: pointer;
    
        
    }
    
    a{
        text-decoration: none;
        color: inherit;
    }
    
    li{
        font-family: Arial, Helvetica, sans-serif;
        list-style-type: none;
        transition: 0.5s ease-in-out;
        padding: 15px;
        border-radius: 30px;
    }
    
    li:hover{
        /* padding: 15px; */
        /* border: 3px solid white; */
        background-color: #7BAFC9;
        transition: 0.5s ease-in-out;
    }

    #licontact {
        padding: 15px;
        border: none;
    }



    #whatareyou {
        font-family: Arial, Helvetica, sans-serif;
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        color: #7BAFC9;
    
    }
    
    
    
    /* LISTE PRODUITS */
    
    #liste_pdt{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: center; */
        /* width: 50%; */
        margin: 0 auto;
        width: 1000px;
        margin-top: 20px;
    }

    .noneTB {
        display: none;
    }


    
     #liste_pdt pre {
        padding: 10px;
        padding-bottom: 30px;
        font-size: 1.2rem;
        color: rgba(128, 128, 128, 0.591);
    }
    
    
    #liste_pdt h3 {
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 20px;
        padding-left: 10px;
        font-size: 1.5rem;
    }
    
    #liste_pdt div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
        border: 1px solid rgba(128, 128, 128, 0.29);
        width: 394px;
        height: 510px;
        position: relative;
        /* margin: 25px; */

    }
    
    #liste_pdt img {
        width: 392px;
        height: 392px;
    }
    
    #liste_pdt span {
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: white;
        padding: 15px 10px;
        font-size: 2.4rem;
    }
    
    #liste_pdt button {
        background-color: white;
        color: #7BAFC9;
        border: 1px solid #7BAFC9;
        border-radius: 30px;
        padding: 15px 20px;
        margin-bottom: 30px;
        transition: 0.5s ease-in-out;
        cursor: pointer;

    
    }
    
    #liste_pdt button:hover {
        background-color: #7BAFC9;
        color: white;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

/* ****** FOOTER ****** */

    footer {
        font-size: 1.2rem;
        color: white;
        background-color: #7BAFC9;
        height: 622px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    
    #footer {
        width: 67%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        /* padding-bottom: 40px; */
    }
    
    #footer a, p {
        padding: 15px;
    }
    
    
    #footer p{
        /* padding-bottom: 35px; */
        /* padding-top: 40px; */
    }
    
    footer a:hover {
        cursor: pointer;
        color: orange;
    }
    
    #about, #appartements, #newYork, #paraEtIcons {
        display: flex;
        flex-direction: column;
        /* padding-top: 20px; */
        /* margin: 20px; */
    }
    
    #paraEtIcons {
        padding-left: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #icons {
        display: flex;
        justify-content: flex-start;
        color: white;
    }
    
    footer hr {
        width: 825px;
        margin: 0 auto;
        color: white;
        margin-bottom: 30px;
    }
    
    #copy {
        color: white;
        text-align: center;
    }

}
























@media screen and (max-width:252px) {

    html {
        font-size: 62.5%;
        box-sizing: border-box;
        /* font-family: "Roboto", sans-serif; */
        width: 800px;
        height: 320.4rem;
        
    }

        header{
        /* width: 50%; */
        background: url(../img/bg-sm.jpg);
        /* background-size: cover; */
        /* width: 1903px; */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        /* height: 950px; */
        text-align: center;
        color: white;
    }
        /* h1 {
            display: flex;
            justify-content: flex-start;
        } */
    
        h1 {
            padding-top: 100px;
            font-family: "Ephesis", cursive;
            font-size: 140px;
            font-weight: 400;
            background-color: rgba(128, 128, 128, 0.311);
            /* padding-top: 100px; */
        
        }
        
        #nav p {
            font-family: "Ephesis", cursive;
            display: inline-block;
            font-size: 60px;
            /* font-weight: bold; */
        }

        header > p {
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
            background-color: rgba(128, 128, 128, 0.311);
            padding-bottom: 50px;
        
        }
        
        nav {
            display: flex;
            
            justify-content: space-between;
            background-color: rgba(128, 128, 128, 0.311);
            height: 70px;
            
        }
        
        #nav{
            /* background-color: rgba(128, 128, 128, 0.164); */
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
        
        }
        
        #ulnav{
            display: flex;
            flex-direction: row;
            /* width: 200px; */
            width: 40rem;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            cursor: pointer;
        
            
        }
        
        a{
            text-decoration: none;
            color: inherit;
        }
        
        li{
            font-family: Arial, Helvetica, sans-serif;
            list-style-type: none;
            transition: 0.5s ease-in-out;
            padding: 15px;
            border-radius: 30px;
            padding: 0 30px;
        }
        
        li:hover{
            /* padding: 15px; */
            /* border: 3px solid white; */
            background-color: #7BAFC9;
            transition: 0.5s ease-in-out;
        }
    
        #licontact {
            padding: 15px;
            border: none;
        }
    
    
    
        #whatareyou {
            font-family: Arial, Helvetica, sans-serif;
            width: 70%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100px;
            color: #7BAFC9;
        
        }
        
        #whatareyou span {
            display: none;
        }
        
        #whatareyou h2 {
            padding-left: 80px;
            font-size: 25px;
        }

        /* Liste produits */

        #liste_pdt{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            /* justify-content: center; */
            /* width: 50%; */
            margin: 0 auto;
            width: 800px;
            margin-top: 20px;
        }
    
       
    
    
        
         #liste_pdt pre {
            padding: 10px;
            padding-bottom: 30px;
            font-size: 1.6rem;
            color: rgba(128, 128, 128, 0.591);
        }
        
        
        #liste_pdt h3 {
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 25px;
            padding-left: 10px;
            font-size: 1.9rem;
            padding-bottom: 10px;
        }
        
        #liste_pdt div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            /* justify-content: space-evenly; */
            border: 1px solid rgba(128, 128, 128, 0.29);
            width: 494px;
            height: 610px;
            position: relative;
            /* margin: 25px; */
    
        }
        
        #liste_pdt img {
            width: 492px;
            height: 492px;
        }
        
        #liste_pdt span {
            display: inline-block;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: white;
            padding: 15px 10px;
            font-size: 4rem;
        }
        
        #liste_pdt button {
            background-color: white;
            color: #7BAFC9;
            border: 1px solid #7BAFC9;
            border-radius: 30px;
            padding: 15px 20px;
            margin-bottom: 30px;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            font-size: 2.5rem;
    
        
        }
        
        #liste_pdt button:hover {
            background-color: #7BAFC9;
            color: white;
            transition: 0.5s ease-in-out;
            cursor: pointer;
        }


/* ****** FOOTER ****** */

footer {
    font-size: 2.5rem;
    color: white;
    background-color: #7BAFC9;
    height: 1672px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#footer {
    text-align: center;
    width: 67%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding-bottom: 40px; */
}

#footer a, p {
    padding: 15px;
}


#footer p{
    /* padding-bottom: 35px; */
    /* padding-top: 40px; */
}

footer a:hover {
    cursor: pointer;
    color: orange;
}

#about, #appartements, #newYork, #paraEtIcons {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    /* padding-top: 20px; */
    /* margin: 20px; */
}

#paraEtIcons {
    /* padding-left: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#paraEtIcons p {
    width: 70%;
    /* padding: 3px; */
}

#paraEtIcons br {
    display: none;
}

#icons {
    display: flex;
    justify-content: flex-start;
    color: white;
    padding-top: 20px;
}

footer hr {
    width: 614px;
    margin: 0 auto;
    color: white;
    /* margin-bottom: 30px; */
    /* padding-bottom: 30px; */
}

#copy {
    margin-top: 30px;
    color: white;
    text-align: center;
    width: 50%;
}



}